body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Josefin Slab';
  font-style: normal;
  font-variant: normal;
  background-color: lightgray;
  scroll-behavior: smooth;
}

#topnav {
  width: 100%;
  position: fixed;
  overflow: hidden;
  z-index: 10;
  background: lightgray;
}

.nav-icon {
  width: 30%;
}

.favicon {
  width: 60px;
  padding-top: 15px;
  padding-left: 45px;
}

#nav-links {
  display: block;
  float: right;
  margin-top: -66px;
  margin-right: 60px;
}

#topnav a {
  margin-top: 14px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 22px;
  letter-spacing: 2px;
  display: block;
  float: left;
  font-variant: small-caps;
}

a hr {
  width: 100%;
  border: none;
  height: 2px;
  background-color: #fff;
  display: none;
}

a:hover {
  color: black;
  cursor: pointer;
}

a:hover hr,
a.active hr {
  display: block;
}

#topnav a.icon {
  display: none;
}

.title {
  position: relative;
  height: 100%;
  display: grid;
  align-items: center;
  width: 50%;
  margin: auto;
}

.name {
  width: 100%;
  text-align: center;
  color: #000;
}

.name span.border {
  color: black;
  padding: 18px;
  font-size: 64px;
  letter-spacing: 10px;
  display: inline-flex;
  font-weight: bold;
  font-variant: small-caps;
}

.caption span.border-2 {
  background-color: transparent;
  color: #f7f7f7;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

#section-about {
  display: block;
  width: 50%;
  margin: auto;
  margin-bottom: 5%;
}

h3 {
  font-size: 32px;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
}

img#personal-pic {
  border-radius: 50%;
  max-width: 750px;
  max-height: 750px;
  height: 30%;
  width: 30%;
  display: block;
  margin: auto;
}

#about {
  display: inline;
  text-align: justify;
}
