body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Josefin Slab';
  font-style: normal;
  font-variant: normal;
  background-color: lightgray;
  scroll-behavior: smooth;
}

#topnav {
  width: 100%;
  position: fixed;
  overflow: hidden;
  z-index: 10;
  background: lightgray;
}

.nav-icon {
  width: 30%;
}

.favicon {
  width: 60px;
  padding-top: 15px;
  padding-left: 45px;
}

#nav-links {
  display: block;
  float: right;
  margin-top: -66px;
  margin-right: 60px;
}

#topnav a {
  margin-top: 14px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 22px;
  letter-spacing: 2px;
  display: block;
  float: left;
  font-variant: small-caps;
}

a hr {
  width: 100%;
  border: none;
  height: 2px;
  background-color: #fff;
  display: none;
}

a:hover {
  color: black;
  cursor: pointer;
}

a:hover hr,
a.active hr {
  display: block;
}

#topnav a.icon {
  display: none;
}

.title {
  position: relative;
  height: 100%;
  display: grid;
  align-items: center;
  width: 50%;
  margin: auto;
}

.name {
  width: 100%;
  text-align: center;
  color: #000;
}

.name span.border {
  color: black;
  padding: 18px;
  font-size: 64px;
  letter-spacing: 10px;
  display: inline-flex;
  font-weight: bold;
  font-variant: small-caps;
}

.caption span.border-2 {
  background-color: transparent;
  color: #f7f7f7;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

#section-about {
  display: block;
  width: 50%;
  margin: auto;
  margin-bottom: 5%;
  padding: 80px;
}

h3 {
  font-size: 32px;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
}

h4 {
  font-size: 28px;
  font-variant: small-caps;
  font-weight: bold;
  display: contents;
}

h5 {
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
  display: contents;
}

h6 {
  font-size: 18px;
  font-variant: small-caps;
  font-weight: bold;
  display: contents;
}

img#personal-pic {
  border-radius: 50%;
  max-width: 750px;
  max-height: 750px;
  height: 30%;
  width: 30%;
  display: block;
  margin: auto;
}

#about {
  display: inline;
  text-align: justify;
}

div.outer {
  padding: 50px;
}

#section-projects div.inner {
  color: #fff;
  background-color: #8d9aa5;
  letter-spacing: 1px;
  text-align: left;
  padding: 25px 80px;
  margin-bottom: 5%;
  margin-top: 5%;
}

.single-project {
  display: flex;
  flex-direction: row;
  text-align: justify;
  padding-bottom: 25px;
  margin-top: 5%;
}

.project-content {
  display: flex;
  flex-direction: column;
}

.generic-btn {
  color: #fff;
  text-decoration: none;
  width: 100px;
  text-align: center;
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 6px;
}

.project-btn:hover {
  background-color: #a0b0bd;
}

.generic-btn2 {
  color: black;
  text-decoration: none;
  width: 100px;
  text-align: center;
  padding: 8px;
  border: 1px solid black;
  border-radius: 6px;
}

.project-btn:hover {
  background-color: #a0b0bd;
}

.project-img-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 200%;
}

.project-img {
  max-width: 72%;
  max-height: 86%;
}

#section-publications div.inner {
  color: black;
  letter-spacing: 1px;
  text-align: left;
  padding: 25px 80px;
  margin-bottom: 20%;
  margin-top: 5%;
  height: 100%;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-style: normal;
  color: -internal-quirk-inherit;
  text-align: start;
  border-spacing: 2px;
  border-color: grey;
  font-variant: normal;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: inline-flex;
  vertical-align: top;
  border-color: inherit;
  padding: 15px;
}

td.bibtexnubmer {
  align-items: right;
  display: table-cell;
}

td.bibtexitem {
  display: table-cell;
}

#section-contact div.inner {
  color: #fff;
  background-color: #8d9aa5;
  letter-spacing: 1px;
  text-align: left;
  padding: 25px 80px;
  margin-top: 5%;
  margin-bottom: 20%;

  display: block;
}

#footer-icons img {
  width: 45px;
}

#footer-icons {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

#contact-text {
  text-align: center;
}
